html,
body {
	background:#f7f7f7;
	width:100%;
	height:100%;
	color:#666;
	margin:0;
	padding:0;
	}

#container {
	width:100%;
	height:100%;
	}

svg {
	display:block;
	width:100%;
	height:100%;
	}

.map {
	fill:#e6e7e8;
	stroke:#dadada;
	stroke-width:1;
	stroke-opacity:0.975;
	stroke-linejoin:miter;
	}

.pointG {
	cursor:pointer;
	}

.marker {
	fill:#3399ff;
	stroke:#3399ff;
	stroke-width:1.25;
	transition: fill .2s ease, fill-opacity .2s ease, stroke .2s ease, stroke-width .2s ease;
	}

.pbg_01 {
	fill-opacity:0.075;
	stroke-opacity:0.15;
	pointer-events:none;
	}

.pbg_02 {
	fill-opacity:0.15;
	stroke-opacity:0.3;
	}

.pointBack {
	fill-opacity:1;
	fill:white;
	stroke-opacity:1;
	stroke:white;
	}

.point {
	fill-opacity:0.85;
	stroke-opacity:1;
	}
.hov .point,
.selected .point {
	fill:#3399ff;
	fill-opacity:1;
	stroke:#3399ff;
	stroke-width:4;
	}

.trajectory {
	fill:none;
	stroke:#3399ff;
	stroke-width:1;
	stroke-opacity:0.5;
	transition: stroke .2s ease, stroke-width .2s ease, stroke-opacity .2s ease;
	}
.trajectory.hov ,
.trajectory.selected {
	stroke:#3399ff;
	stroke-width:1.25;
	stroke-opacity:1;
	}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*	Sidebar
	------------------------------- */

#sidebar {
	position:absolute;
	right:30px;
	top:30px;
	width:18%;
	height:auto;
	background:transparent;
	font-family: "Proxima Nova", Montserrat, sans-serif;
	}

#title {
	height:32px;
	width:100%;
	background:#3399ff;
	color:white;
	font-size:16px;
	letter-spacing:0.5px;
	text-align:center;
	text-transform:uppercase;
	padding-top:13px;
	border-radius:3px;
	box-shadow:0 0 3px 3px #ccc;
	}
#title span {
	margin-top:9px;
	}

.block {
	height:33px;
	width:100%;
	background:white;
	margin-top:6px;
	padding-top:12px;
	border-radius:3px;
	box-shadow:0 0 3px 3px #ddd;
	}
.block span {
	font-size:14px;
	margin:18px;
	}

#nav_search {
	height:33px;
	margin-top:6px;
	padding-top:12px;
	border-radius:3px 3px 0 0;
	}
#nav_search #searchbar {
	width:90%;
	height:22px;
	/*background:#eee;*/
	background:#fff;
	/*color:#bbb;*/
	color:#666;
	/*font-style:italic;*/
	/*text-align:center;*/
	/*margin:0 auto;*/
	border-radius:3px;
	}
#nav_search #searchbar span {
	}

#nav_date {
	font-style:italic;
	border-radius:0;
	}

#nav_auth {
	float:left;
	height:450px;
	padding-top:0;
	border-radius:0 0 3px 3px;
	overflow:auto;
	}
#nav_auth span {
	float:left;
	}
#nav_auth .auth_div:first-child {
	margin-top:0;
	border:none;
	}
#nav_auth .auth_div {
	float:left;
	width:100%;
	margin-top:3px;
	padding:3px 0 6px;
	border-top:1px solid #eee;
	}
#nav_auth .auth_name {
	}
#nav_auth .auth_desc {
	float:left;
	color:#ccc;
	margin-top:0;
	}

/*	Date slider
	------------------------------- */

#time-range {
    z-index:1000;
	position:absolute;
    bottom:30px;
    width:90%;
    left:5%;
	}
#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}