html,
body {
	background:#f3f3f3;
	width:100%;
	height:100%;
	color:#666;
	margin:0;
	padding:0;
	}

#container {
	width:100%;
	height:100%;
	}

svg {
	display:block;
	width:100%;
	height:100%;
	shape-rendering:geometricPrecision;
	}

.map {
	fill:#ddd;
	stroke:transparent;
	stroke-width:0;
	stroke-opacity:0;
	stroke-linejoin:miter;
	}

.pointG {
	cursor:pointer;
	}

.marker {
	fill:#3399ff;
	stroke:#3399ff;
	stroke-width:0.5;
	}

.points_MonthSpec,
.points_YearSpec {
	fill-opacity:0;
	}

.points_YearSpec {
	stroke-opacity:0.25;
	stroke-dasharray:0.5,0.5;
	}

.points_MonthSpec {
	stroke-opacity:0.5;
	}

.pointBack {
	fill-opacity:1;
	fill:white;
	stroke-opacity:1;
	stroke:white;
	}

.point {
	fill-opacity:1;
	stroke-opacity:1;
	}
.hov .point,
.selected .point {
	fill:#007fff;
	fill-opacity:1;
	stroke:#007fff;
	}
.hov .points_MonthSpec,
.selected .points_MonthSpec {
	stroke:#007fff;
	stroke-opacity:0.75;
	}
.hov .points_YearSpec,
.selected .points_YearSpec {
	stroke:#007fff;
	stroke-opacity:0.5;
	}

.trajectory {
	fill:none;
	stroke:#3399ff;
	stroke-width:0.5;
	stroke-opacity:0.5;
	}
.trajectory.hov ,
.trajectory.selected {
	/*stroke:#007fff;*/
	stroke-opacity:1;
	}
/*.trajectory.tier {
	stroke:red;
	}*/

/*	Sidebar
	------------------------------- */

#sidebar {
	position:absolute;
	right:3%;
	top:6%;
	width:260px;
	height:auto;
	background:transparent;
	font-family: "Proxima Nova", Montserrat, sans-serif;
	}

#title {
	height:30px;
	width:100%;
	background:#3399ff;
	color:white;
	font-size:13px;
	letter-spacing:0.5px;
	text-align:center;
	text-transform:uppercase;
	padding-top:15px;
	box-shadow:0 0 0.5px 0.5px #ddd;
	}
#title span {
	}

.block {
	float:left;
	height:25px;
	width:100%;
	background:white;
	padding-top:12px;
	box-shadow:0 0 0.5px 0.5px #ddd;
	}
.block.half {
	margin-top:6px;
	}
.block span {
	float:left;
	font-size:13px;
	padding-left:9px;
	box-sizing:border-box;
	}

#nav_place {
	color:#111;
	font-style:italic;
	margin-top:6px;
	border-radius:0;
	}

#nav_tabcontrol {
	padding:0;
	}
#nav_tabcontrol .btn {
	background:#f8f8f8;
	float:left;
	display:inline-block;
	color:#999;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:0.5px;
	width:50%;
	margin:0;
	padding:7px 9px 5px;
	cursor:pointer;
	}
#nav_tabcontrol .btn:first-child {
	border-right:1px solid #eee;
	}
#nav_tabcontrol .btn.selected_tab {
	background:white;
	color:#111;
	}

#nav_auth {
	opacity:0;
	background:white;
	height:375px;
	padding-top:0;
	overflow:scroll;
	}
#nav_auth input {
	float:left;
	margin-left:9px;
	}
#nav_auth span {
    font-size: 10px;
	}
#nav_auth .auth_div:first-child {
	margin-top:0;
	border:none;
	}
#nav_auth .auth_div {
	float:left;
	width:100%;
	margin:0;
	padding:6px 0;
	border-top:1px solid #eee;
	}
#nav_auth .auth_name {
	width:100%;
    font-weight: bold;
	text-transform: uppercase;
    letter-spacing: 0.5px;
	}
#nav_auth .auth_desc {
	float:left;
	color:#aaa;
	margin-top:0;
	}
#nav_auth .journey span {
	display:block;
	margin:0;
	padding-left:0;
	}
#nav_auth .journey span.focus {
	color:#333;
	font-weight:bold;
	}

/*	Legend
	------------------------------- */

#nav_legend {
	opacity:0;
	background:transparent;
	height:90px;
	border-bottom:1px solid #ddd;
	box-shadow:none;
	pointer-events:none;
	}

#nav_legend span {
	color:#3399ff;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:0.5px;
	}
#nav_legend circle {
	stroke-opacity:1;
	}

#nav_legend .legendLabel {
	font-size:10px;
	}
#nav_legend .legendTrajectory {
	fill:none;
	stroke:#666;
	stroke-width:0.75;
	stroke-opacity:0.75;
	}

/*	Date slider
	------------------------------- */

#time-range {
    z-index:1000;
	position:absolute;
    bottom:6%;
    width:94%;
    right:3%;
	}
#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
	}

/*	Author colors
	------------------------------- */

.rdepestre {
	color:#66c2a5;
	}
path.rdepestre {
	stroke:#66c2a5;
	}

.acesaire {
	color:#fc8d62;
	}

path.acesaire {
	stroke:#fc8d62;
	}