html,
body {
	background:#f3f3f3;
	width:100%;
	height:100%;
	color:#666;
	margin:0;
	padding:0;
	}

#container {
	width:100%;
	height:100%;
	}

svg {
	display:block;
	width:100%;
	height:100%;
	shape-rendering:geometricPrecision;
	}

.map {
	fill:#ddd;
	stroke:transparent;
	stroke-width:0;
	stroke-opacity:0;
	stroke-linejoin:miter;
	}

.pointG {
	cursor:pointer;
	}

.marker {
	fill:#3399ff;
	stroke:#3399ff;
	stroke-width:0.5;
	}

.pbg_01 {
	fill-opacity:0.075;
	stroke-opacity:0.25;
	}

.pbg_02 {
	fill-opacity:0.15;
	stroke-opacity:0.5;
	}

.pointBack {
	fill-opacity:1;
	fill:white;
	stroke-opacity:1;
	stroke:white;
	}

.point {
	fill-opacity:0.85;
	stroke-opacity:1;
	}
.hov .point,
.selected .point {
	fill:#007fff;
	fill-opacity:1;
	stroke:#007fff;
	}
.hov .pbg_01,
.hov .pbg_02,
.selected .pbg_01,
.selected .pbg_02 {
	stroke:#007fff;
	stroke-opacity:1;
	}

.trajectory {
	fill:none;
	stroke:#3399ff;
	stroke-width:0.5;
	stroke-opacity:0.5;
	}
.trajectory.hov ,
.trajectory.selected {
	stroke:#007fff;
	stroke-opacity:1;
	}
/*.trajectory.tier {
	stroke:red;
	}*/

/*	Sidebar
	------------------------------- */

#sidebar {
	position:absolute;
	right:3%;
	top:6%;
	width:260px;
	height:auto;
	background:transparent;
	font-family: "Proxima Nova", Montserrat, sans-serif;
	}

#title {
	height:32px;
	width:100%;
	background:#3399ff;
	color:white;
	font-size:16px;
	letter-spacing:0.5px;
	text-align:center;
	text-transform:uppercase;
	padding-top:13px;
	box-shadow:0 0 0.5px 0.5px #ddd;
	}
#title span {
	margin-top:9px;
	}

.block {
	height:33px;
	width:100%;
	background:white;
	padding-top:12px;
	box-shadow:0 0 0.5px 0.5px #ddd;
	}
.block span {
	font-size:14px;
	margin:18px;
	}

#nav_place {
	margin-top:6px;
	border-radius:0;
	}

#nav_auth {
	float:left;
	background:white;
	height:450px;
	padding-top:0;
	overflow:scroll;
	}
#nav_auth span {
	float:left;
	}
#nav_auth .auth_div:first-child {
	margin-top:0;
	border:none;
	}
#nav_auth .auth_div {
	float:left;
	width:100%;
	margin-top:3px;
	padding:3px 0 6px;
	border-top:1px solid #eee;
	}
#nav_auth .auth_name {
	}
#nav_auth .auth_desc {
	float:left;
	color:#ccc;
	margin-top:0;
	}

/*	Date slider
	------------------------------- */

#time-range {
    z-index:1000;
	position:absolute;
    bottom:6%;
    width:94%;
    right:3%;
	}
#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}