/* Primary styles for In The Same Boats
 * SASS file outputs to assets/css/style.css  */

@import "vendor/_susy.scss";
@import "partials/_mixins.sass";

$blh: 1.25em;
$media_type: screen;
$min-width: 1250px;

$bp_mobile: 640px;

$clr1: #F89E1C; // Orange
$clr2: #b19971; // Butter Yellow 
$clr3: #936A28; // Brown

// Secondary colours for visualizations

$clr4: #CF6428; // Orange Brick
$clr5: #f9ce89; // Canteloupe
$clr6: #617a8c; // cobalt
$clr7: #8ea030; // green
$clr8: #2893cf; // Blue

$clr0: lighten(#1a82ff,10%); // Blue
$clr9: lighten(#7f93ba,10%);
$clr10: #fdeaaf;
$clr11: #ddcfa4;


$clr_map: (clr0: $clr0, clr1: $clr1, clr2: $clr2, clr3: $clr3, clr4: $clr4, clr5: darken($clr5,10%), clr6: $clr6, clr7: $clr7, clr8: $clr8, clr9: $clr9);

$black: #161C1E;
$white: #F7F8F9;
$neutral: #fcfcfc;
$dark_neutral: #2D393F;
$cool_neutral: #E2E5E8;

$basefont: "Proxima Nova", "proxima-nova-soft", "Montserrat", "Arial", sans-serif;

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// Elements

body {
  background: $neutral;
  width: 100%;
  height: 100%;
  font-family: $basefont;
  color: $black;
  margin: 0;
  padding: 0;
  min-width: $min-width;
  position: relative;
}

body > div {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
}

div, a {
  box-sizing: border-box;
}

a, a:link, a:visited {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Navigation

#nav {
  width: 100%;
  height: 4em;
  background-color: $dark_neutral;
  color: $white;

  a, a:link, a:visited {
    color: $white;
  }

  a {
    font-weight: $semibold;
    padding-top: 1.5em;
    height: 4em;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid $white;

    @include span(2 of 16 inside no-gutters);

    &:hover, &.active {
      text-decoration: none;

      // @include block-pointer($black, -1.5em);    
    }
    
  }

  > a {
    background-color: #f9ce89;
    @include span(3 of 16 inside no-gutters);
    
    &#title {
      color: $black;
    }
    
  }
}

#tabs {
  position: relative;

  > a:hover, a.active {
    background-color: black;
  }
}

// Panels

#panels {
  border-top: 2px solid $white;
  
  .panel {
    display: none;
    height: 100%;

    &:nth-child(1) {
      display: block;
    }
  }
}

// About

.about-text {
  width: 62.5%;
  margin: 0 auto;
  padding-top: $blh;
  
  h1, h2 {
    color: $dark_neutral;
  }
  
  a {
    text-decoration: underline;
  }
  
  p {
    font-size: 0.9em;
    line-height: 1.5em;
    color: $dark_neutral;
  }
}

// Headers

.header {
  width: 100%;
  height: 3em;
  padding-top: 1em;
  text-transform: uppercase;
  text-align: center;
  background-color: $cool_neutral;

  // @include block-pointer($cool_neutral);
}

// Intersections

#intersections {
  > * {
    position: absolute;
    top: 4em;
    bottom: 0;

    &:nth-child(1) {
      width: 15%;
      left: 0;
    }

    &:nth-child(2) {
      width: 60%;
      left: 15%;
    }

    &:nth-child(3) {
      width: 25%;
      left: 75%;
    }
  }

  .location {
    .header {
      background-color: darken($cool_neutral, 5%);
    }
  }
}

// Trajectories

#trajectories {
  > * {
    position: absolute;
    top: 4em;
    bottom: 0;

    &:nth-child(1) {
      width: 15%;
      left: 0;
    }

    &:nth-child(2) {
      width: 25%;
      left: 15%;
    }

    &:nth-child(3) {
      width: 60%;
      left: 40%;
    }
  }
}

// Itineraries

/* #itineraries
 * > *
 *   position: absolute
 *   top: 4em
 *   bottom: 0
 *
 *   &:nth-child(1)
 *     width: 18.75%
 *   &:nth-child(2)
 *     width: 81.25%
 *     left: 18.75% */

// Previous CSS

#itineraries {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-right: 2px solid white;
  box-sizing: border-box;
  overflow: hidden;
  
  .header {
    margin-bottom: $blh
  }
  
  select {
    display: block;
    margin: 0 auto;
  }
}


#left_itinerary {
  float: left;
  width: 50%;
}

#right_itinerary {
  margin-left: 50%;
  width: 50%;
  
  .header {
    background-color: darken($cool_neutral,10%);
  }
}

#itineraries svg {
  shape-rendering: geometricPrecision;
  cursor: pointer;
  display: block;
  width: 100%;
}

//

@mixin author-list-item {
  color: $clr1;
  text-transform: uppercase;
  font-size: 0.9em;
  width: 100%;
  font-weight: $semibold;
  padding-bottom: $blh;
  display: block;

  .item_date {
    text-transform: none;
    font-size: 0.8em;
    color: darken($cool_neutral, 20%);
    font-weight: $regular;
  }
}

.results {
  .items {
    padding: $blh;
  }

  .title {
    font-size: 1.2em;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: $blh / 2;
    margin-bottom: $blh / 2;
  }

  .results-view {
    > div {
      @include author-list-item;
    }
  }
}

// Slider

.date-range {
  background-color: darken($neutral, 5%);
}

.indicator {
  height: 3em;
  text-align: center;
  padding: 0.9em;
  font-size: 0.8em;
  text-transform: uppercase
}

.d3-slider {
  font-family: $basefont;
}

.d3-slider-vertical {
  width: 100%;
  height: 100%;
}

.d3-slider-range-vertical {
  background-color: darken($neutral, 10%);
  border-right: 2px solid $clr1;
}

.d3-slider-vertical {
  
  .d3-slider-handle {
    right: -0.54em;
    left: initial;
    background: $clr1;
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.6em;
    border-radius: 0.6em;
    border-color: $clr1;
  }
  
  @media only screen and (min-width: $bp_mobile) {
    .d3-slider-handle {
      right: -0.36em;
      width: 0.8em;
      height: 0.8em;
      margin-bottom: -0.4em;
      border-radius: 0.4em;
  }
  }

}

.d3-slider-axis {
  line {
    stroke: $white;
  }

  text {
    fill: $black;
    stroke: transparent;
    font-weight: $regular;
    font-size: 0.8em;
    margin-top: 0.2em;
  }
}

.date-selector {
  height: 90%;
  margin: 0;
  padding: 0;

  svg {
    width: 100%;
  }
}

/* Map */

path.map {
  fill: #ddd;
  stroke: transparent;
  stroke-width: 0;
  stroke-opacity: 0;
  stroke-linejoin: miter;
}

.points_g {
  cursor: pointer;
}

.points_g.focus_point .point {
  fill: #33cbff;
  stroke: #33cbff;
  stroke-width: 1;
  stroke-opacity: 1;
}

.point {
  fill: $clr1;
  stroke: $clr1;
  stroke-width: 0.5;
}

.point_back {
  fill: white;
  fill-opacity: 0.5;
  stroke: transparent;
}

.point.point_01 {
  fill-opacity: 0.25;
  stroke-opacity: 0.25;
}

.point.point_02 {
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
}

.point.point_03 {
  fill-opacity: 1;
  stroke-opacity: 1;
}

path.line {
  stroke-width: 1;
}

/* Trajectories */

@for $i from 0 through 7 {
  
  $color: #{map-get($clr_map, clr#{$i})};
  
  .id_#{$i} {
    fill: $color;
    color: $color;
  
    
    path, path.id_#{$i}, line.id_#{$i} {
      fill: none;
      stroke: $color;
    }
  }
}

/*
  .id_0 {
  fill: #fb9a99;
  color: #fb9a99;
}

.id_0 path, path.id_0, line.id_0 {
  fill: none;
  stroke: #fb9a99;
}

.id_1 {
  fill: #b2df8a;
  color: #b2df8a;
}

.id_1 path, path.id_1, line.id_1 {
  fill: none;
  stroke: #b2df8a;
}

.id_2 {
  fill: #cab2d6;
  color: #cab2d6;
}

.id_2 path, path.id_2, line.id_2 {
  fill: none;
  stroke: #cab2d6;
}

  */

._02 .control {
  z-index: 1;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
}

/* Itineraries / Routes */

text.route_label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-anchor: middle;
}

text.route_point_labels {
  font-size: 11px;
  letter-spacing: 1px;
  fill: #aaa;
}

line.route_line_background {
  stroke: #ddd;
  stroke-width: 30;
}

line.route_line {
  stroke-width: 30;
}

line.route_points {
  stroke: #aaa;
  stroke-width: 1;
  stroke-dasharray: 1, 1;
}

circle.route_stops {
  /*stroke:black */
  fill: white;
  stroke: #aaa;
  stroke-width: 2;
}

path.line {
  fill: none;
}

.author_left {
  fill: $clr2;
  color: $clr2;
}

.author_left path, path.author_left, line.author_left {
  fill: none;
  stroke: $clr2;
}

.author_right {
  fill: $clr3;
  color: $clr3;
}

.author_right path, path.author_right, line.author_right {
  fill: none;
  stroke: $clr3;
}

// Trajector author

#trajectories {
  
  
  .authors {
    background-color: darken($neutral,2%);
    
    .header {
      background-color: darken($cool_neutral,10%)
    }
  }
  
  .authors-list a {
    @include author-list-item;

    padding: $blh;
    cursor: pointer;
    color: darken($neutral, 40%);
  }
  
  @for $i from 1 through 9 {
    
    .authors-list a:nth-child(#{$i}) {
      &:hover, &.selected {
        $clrindex: $i - 1;
        $color: #{map-get($clr_map, clr#{$clrindex})};
        color: $color;
      }
    
    }
  }
  
  
  
}
