<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- fonts via Typekit [Should be replaced with local OTF] -->
  	<script src="https://use.typekit.net/qse7cmq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  
  	<!-- stylesheets -->
  	<link rel='stylesheet' type='text/css' href="/assets/css/d3.slider.css" />
  	<link rel='stylesheet' type='text/css' href="/assets/css/style.css" />
  	<link rel="stylesheet" href="https://use.typekit.net/qse7cmq.css">

  <!-- local -->
  	<script type='text/javascript' src="/assets/js/libs/d3.min.js"></script>
  	<script type='text/javascript' src="/assets/js/libs/topojson.min.js"></script>
  	<script type='text/javascript' src="/assets/js/libs/d3.slider.min.js"></script>
  	<script type='text/javascript' src="/assets/js/libs/d3-collection.min.js"></script>
    <script type='text/javascript' src="/assets/js/libs/d3-queue.min.js"></script>
</head>
