<div id='nav'>
  <a id='title' href='/' title='In the Same Boats'><img src="" class="navicon"><span class="navtext">In the Same Boats</span></a>
  <div id='tabs'>
    <a href='/' data-mode='0' class='active'><img src="" class="navicon"><span class="navtext">About</span></a>
	<a href='/trajectories' data-mode='2'><img src="" class="navicon"><span class="navtext">Trajectories</span></a>
	<a href='/intersections' data-mode='1'><img src="" class="navicon"><span class="navtext">Intersections</span></a>
	<a href='/itineraries' data-mode='3'><img src="" class="navicon"><span class="navtext">Itineraries</span></a>
	<a href='/search' data-mode='4'><img src="" class="navicon"><span class="navtext">Search</span></a>
  </div>
</div>