<div id='nav'>
  <a id='title' href='/' title='In the Same Boats'>
    <figure>
      <img src="/assets/img/itsb_icon.svg" />
    </figure>
    <span>In the Same Boats</span>
  </a>
  <div id='tabs'>
    <a href='/' data-mode='0'>
    <img src="/assets/img/home{% if page.id == 'home' %}_active{% endif %}.svg" class="navicon" title="home"><span class="navtext">Home</span></a>
    <a href='/instructions' data-mode='0'><img src="/assets/img/about{% if page.id == 'instructions' %}_active{% endif %}.svg" class="navicon" title="Credits"><span class="navtext">Instructions</span></a>
    <!-- <a href='/page' data-mode='0'><img src="/assets/img/page{% if page.id == 'page' %}_active{% endif %}.svg" class="navicon" title="Page"><span class="navtext">Generic Page</span></a> -->
    {% for visualization in site.data.visualizations %}
        <a href='{{ visualization.url }}' data-mode='{{ visualization.datamode }}'><img src="/assets/img/visualization{% if page.id == visualization.id %}_active{% endif %}.svg" class="navicon" title="{{ visualization.name }}"><span class="navtext">{{ visualization.name }}</span></a>
    {% endfor %}
    <a href='/search' data-mode='0'><img src="/assets/img/search{% if page.id == 'search' %}_active{% endif %}.svg" class="navicon" title="Search"><span class="navtext">Search</span></a>
    <a href='/credits' data-mode='0'><img src="/assets/img/about{% if page.id == 'credits' %}_active{% endif %}.svg" class="navicon" title="Credits"><span class="navtext">Credits</span></a>

  </div>
</div>