<div id="directors">
  {% for member in site.data.members %}
    {% if member.roles contains 'director' %}
      <p><strong id="{{member.id}}">{{member.name}}</strong><br />
        {{member.institution}}
        {% for assistant in member.subjects %}
          <span class='subject'>{{assistant.name}}</span>
        {% endfor %}
      </p>
    {% endif %}
  {% endfor %}
</div>

<div id="members">
  {% for member in site.data.members %}
    {% if member.roles contains 'member' %}
      <p><strong id="{{member.id}}">{{member.name}}</strong><br />
        {{member.institution}}
        {% if member.homepageurl %}
          <a href='{{member.homepageurl}}' target="_blank">{{member.homepagetitle}}</a>
        {% endif %}
        {% for assistant in member.subjects %}
          <span class='subject'>{{assistant.name}}</span>
        {% endfor %}
      </p>
    {% endif %}
  {% endfor %}
</div>