<h3>Project Wranglers</h3>
  
<p><strong>Kaiama Glover</strong><br/>
<span class='subject'>Barnard College, Columbia University</span></p>
<p><strong>Alex Gil</strong><br/>
<span class='subject'>Columbia University Libraries</span></p>

<br>

<h3 id="contributors">Contributors</h3>
<p><em>Mohammed Duse Ali</em><br>Marina Bilbija – Williams College</p>
<p><em>Kamau Brathwaite</em><br>Kelly Baker Josephs – York College, CUNY Clara Pomi – Williams College</p>
<p><em>Aimé Césaire</em><br>Alex Gil – Columbia University; Kora Véron Leblé – Institut de Textes et Manuscrits, CNRS</p>
<p><em>Maryse Condé</em><br>Soraya Limare – Columbia University</p>
<p><em>René Depestre</em><br>Kaiama L. Glover – Barnard College, Columbia University</p>
<p><em>W.E.B. Dubois</em><br>Roopika Risam – Salem State University</p>
<p><em>Katherine Dunham</em><br>Joanna Dee Das – Washington University in St. Louis Laurent Dubois – Duke University</p>
<p><em>C.L.R. James</em><br>Amanda Perry – Champlain College-Saint Lambert</p>
<p><em>Wifredo Lam</em><br>Tao Goffe – Cornell University</p>
<p><em>George Lamming</em><br>Amanda Perry – Champlain College-Saint Lambert</p>
<p><em>Claude McKay</em><br>Raphael Dalleo – Bucknell University</p>
<p><em>Eslanda Goode Robeson</em><br>Annette Joseph-Gabriel – University of Michigan</p>
<br>
<h3 id="designers">Designers</h3>
<p>Buck Wanner,<br>Columbia University<br>Visualization Design</p>
<p>Emily Fuhrman<br>Columbia University<br>Visualization &amp; Project Design</p>
<p>Alyssa Van<br>Stanford University<br>Data Analyst</p>
<p>Dean Irvine<br>Project Consultant<br>Agile Humanities Agency</p>
<p>Bill Kennedy <br>Visualization, UI/UX and Production Design<br>System Design Agile Humanities Agency</p>
<br>
<p>In the Same Boats <em>has received generous support from the Barnard College Digital Humanities Center, the Columbia University Graduate School of Arts and Sciences, the Duke University Forum for Scholars and Publics, the Schomburg Center for Research in Black Culture, the University of Virginia</em>.</p>

<hr>

<small>N.B. Affiliations listed on our credits page reflect the contributor's affiliation at the moment of their contribution.</small>
<br>

