/* Primary styles for In The Same Boats
 * SASS file outputs to assets/css/style.css  */
 
 
// !FUNCTIONS

// Converts HSB colours to native HSL(A) colours

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

// !CONFIGURATION

// CONFIG: STRUCTURE

$blh: 1.25em;
$media_type: screen;
$min-width: 1250px;

$bp_mobile: 640px;


// CONFIG: COLOUR

$clr1: hsb(35.74, 74.6, 98.82);  // Sunrise Orange  | #FCB040
$clr2: hsb(226.67, 74.6, 98.82); // Bright Azure    | #406AFC 
$clr3: hsb(210, 13.73, 40);      // Storm Grey      | #585F66

$black: #000000;  // Black
$white: #F7F8F9; // Practically White

// Secondary colours for visualizations

$colour_index: (
  0: $clr1,                     // Sunrise Orange
  1: $clr2,                     // Bright Azure
  2: hsb(319.8, 89.57, 45.1),   // Plum          | #730C51
  3: hsb(272, 60, 58.82),       // Violet        | #6C3C96
  4: hsb(37.6, 68, 98.82),      // Spring Green  | #59FC89
  5: hsb(45.5, 84.51, 88.63),   // Amaranth      | #E22351
  6: hsb(182.6, 100, 88.63),    // Turquoise     | #00D8E2
  7: hsb(112, 47.15, 75.69),    // Mantis Green  | #72C166
  8: hsb(48.12, 79.52, 99.61),  // Bumblebee     | #FED634
  9: hsb(18.42, 79.53, 99.51),  // Bright Autumn | #FE7234
);


// Extract the brightness value from each colour. 
// Colours brighter than 50% will graduate lighter (tint) while
// colours lighter than 50% will graduate darker (shade).

$si_brightness: (
  0: 98.82,
  1: 98.82,
  2: 45.1,
  3: 58.82,
  4: 98.8,
  5: 88.63,
  6: 88.63,
  7: 75.69,
  8: 99.61,
  9: 99.51
);

$clr_map: (
  
);

@each $key,$colour in $colour_index {
  @for $i from 0 through 4 {
      $index: $key + (10 * $i);
      
    // Colour shift index colour from 0-40%
        
    $colour_shift: 10 * $i;
    
    @if map-get($si_brightness,$key) > 50 {
      $clr_map: map-merge($clr_map,($index: mix($black,$colour,$colour_shift))); // shade
    } @else {
      $clr_map: map-merge($clr_map,($index: mix($white,$colour,$colour_shift))); // tint
    }      
  }
}

// Key Neutrals

$black: #000000;              // Black
$white: #FFFFFF;              // Practically White
$darkest_neutral: $clr3;      // Storm Grey
$darker_neutral: #6A727C;     // Storm Grey 80%
$dark_neutral: #A5ACAF;       // Storm Grey 50%
$neutral: lighten($clr3,40%);
$light_neutral: #E6E7E9;      // Storm Grey 30%
$lighter_neutral: #F0F1F2;    // Storm Grey 10%
$lightest_neutral: #F7F8F9;   // Practically White

// CONFIG: TYPESETTING

$basefont: "Proxima Nova", "proxima-nova-soft", "Montserrat", "Arial", sans-serif;

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;


// !STYLES

// Elements

body {
  background: $white;
  width: 100%;
  height: 100%;
  font-family: $basefont;
  color: $black;
  margin: 0;
  padding: 0;
  min-width: $min-width;
  position: inherit;
  
  &.visualization {
    overflow: hidden;
  }
}

body > div {
  position: relative;
  width: 100%;
  height: 100%;
}

div, a {
  box-sizing: border-box;
}

a, a:link, a:visited {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

figure {
  margin: 0;
}


// Navigation

body.front #nav {
  width: 300px;
}

#nav {
  position: fixed;
  width: 75px;
  background-color: $black;
  color: $white;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: solid 1px $white;  
  overflow: hidden;
  transition: width 0.5s;
  transition-delay: 0.5s;
  
  &:hover {
    width: 300px;
  }
}

#title {
  display: flex;
  width: 300px;
  height: 70px;
  background-color: $clr1;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: solid 1px $black; // fixes visual height disaprity with header block on visualizations
  
  figure {
    width: 75px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      display: inline-block;
      width: 40px;
    }
  }
    
  span {
    display: block;
    color: $black;
    font-size: 1.2em;
    font-weight: $semibold;
    text-transform: uppercase;
    width: 200px
  }
}

#tabs {
  width: 300px;
  letter-spacing: 0.1em;
  padding: 25px;
  
  a, a:link, a:visited {
    color: $white;
  }

  a {
    font-size: 1em;
    font-weight: $semibold;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;

    &:hover, &.active {
      text-decoration: none;
      color: $clr1;
    }
  }
  
  img {
    width: 25px;
    margin-right: 25px;
  }
}

// Panels

#panels {
  .panel {
    height: 100%;
  }
}
#contents {
  position: relative;
  padding-left: 100px;
  width: 100%;
}

.front #contents {
  padding-left: 350px;
}

.visualization {
  #contents {
    margin-left: 75px;
    width: unset;
	> #panels {
	  overflow: hidden;
    }
  }
}
// Page Layout

#container {
  pointer-events: none;
}

#page-title {
  width: 90%;
  margin: 0 auto;
  font-size: 2em;
  h1 {
    margin: 1.25em auto 0em;
    font-weight: normal;
  }
}  
#page {
  display: flex;
  flex-direction: row;
}

.page-text {
  width: 90%;
  margin: 0 auto;
  font-size: 0.9em;
  &.has-sidebar {
    width: 55%;
  }
  h1,h2 {
    color: $black;
  }
  a {
    text-decoration: underline;
  }
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: $black;
  }
}

.sidebar {
  width: 25%;
  margin: 0 auto;
  a {
    text-transform: uppercase;
    font-weight: bold;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.sidebar_item {
  height: max-content;
  clear: both;
  overflow: hidden;
  margin-bottom: $blh;
}
.item_icon {
  float: left;
  width: 20%;
  
  img {
    width: 40px;
  }
}

.item_info {
  float: right;
  width: 80%;
  h3 {
    margin-top: 0;
  }
}

// Homepage

span.subject {
  display: block;
  font-style: italic;
}

// About

.about-text {
  width: 62.5%;
  margin: 0 auto;
  padding-top: $blh;
  
  h1, h2 {
    color: $darker_neutral;
  }
  
  a {
    text-decoration: underline;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: $darker_neutral;
  }
}
// Headers

.header {
  width: 100%;
  height: 70px;
  padding: 1em 0;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
  background-color: $darkest_neutral;
  color: $white;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-right: solid 1px $white;
  border-bottom: solid 1px $white;
  overflow: hidden;
  white-space: nowrap;
}

.panel {
  > *:last-child {
    .header {
      border-right-width: 0;
    }
  }
}

/* !VISUALIZATION PANEL STRUCTURE */


// Intersections

#intersections {
  > * {
    position: absolute;
    top: 0;
    bottom: 0;

    &:nth-child(1) {
      width: 15%;
      left: 0;
    }

    &:nth-child(2) {
      width: 60%;
      left: 15%;
    }

    &:nth-child(3) {
      width: 25%;
      left: 75%;
    }
  }

  .location {
    .header {
      background-color: $darker_neutral;
    }
  }
}

// Trajectories

#trajectories {
  > * {
    position: absolute;
    top: 0;
    bottom: 0;

    &:nth-child(1) {
      width: 15%;
      left: 0;
    }

    &:nth-child(2) {
      width: 25%;
      left: 15%;
    }

    &:nth-child(3) {
      width: 60%;
      left: 40%;
    }
  }
}


// Itineraries

#itineraries
 > * {
  position: absolute;
  top: 0;
  height: auto;
  
  &:nth-child(1) {
    width: 25%;
    min-height: 100%;
    left: 0;
    
    .header {
      background-color: $darker_neutral;
    }
  }
  
  &:nth-child(2) {
    width: 75%;
    left: 25%;
  } 
  
  .selections {
    width: 100%;
  }
  
  .itinerary {
    width: 100%;
    height: auto;
    
    .itinerary-header {
      width: 100%;
      text-align: center;
      padding: $blh 0 $blh/2 0;
      text-transform: uppercase;
      color: $clr2;
      font-weight: $semibold;

    }
    
    .itinerary-view {
      text-align: center;
      padding-top: $blh;
      height: auto;
      width: 100%;
    }
    
    svg {
      width: 60px;
      display: inline-block;
      background-color: $lightest_neutral;
      padding: $blh 0;
      overflow: visible;
    }
  }
       
}

/* Routes */

// Colourization

@for $i from 0 through 50 {
  
  $color: #{map-get($clr_map, $i)};
  
  .id_#{$i} {
    fill: $color;
    color: $color;
  
    
    path, path.id_#{$i}, line.id_#{$i} {
      fill: none;
      stroke: $color;
    }
  }
}


._02 .control {
  z-index: 1;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
}



#itinerary-axis {
  
  text {
    fill: $darker_neutral;
    font-size: 11px;
  }
  
  line {
    stroke: $darker_neutral;
  }
}

text.route_label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-anchor: middle;
}

text.route_point_labels {
  font-size: 11px;
  letter-spacing: 1px;
  fill: #aaa;
}

line.route_line_background {
  stroke: #ddd;
  stroke-width: 30;
}

line.route_line {
  stroke-width: 30;
}

line.route_points {
  stroke: #aaa;
  stroke-width: 1;
  stroke-dasharray: 1, 1;
}

circle.route_stops {
  fill: $clr1;
  stroke: $clr1;
  stroke-width: 1;
}

path.line {
  fill: none;
}

.author_left {
  fill: $clr2;
  color: $clr2;
}

.author_left path, path.author_left, line.author_left {
  fill: none;
  stroke: $clr2;
}

.author_right {
  fill: $clr3;
  color: $clr3;
}

.author_right path, path.author_right, line.author_right {
  fill: none;
  stroke: $clr3;
}

@mixin author-list-item($size: 'small-set') {
  color: $clr2;
  @if $size == 'large-set' {
    font-size: 0.85em;
    padding-bottom: $blh/2;
  } @else {
    font-size: 1em;
    padding-bottom: $blh;
  }

  .item_date {
    text-transform: none;
    font-size: 0.8em;
    color: $neutral;
    font-weight: $light;
  }
}

// Authors

.authors {
  background-color: $lighter_neutral;
  
  .header {
    background-color: $darkest_neutral;
  }
}

.authors-list {
  .arow {
    display: table-row;
    width: 100%;
  }
  
  &.small-set a {
    @include author-list-item();
    color: $darker_neutral;

  }
  
  &.large-set a {
    @include author-list-item('large-set');
    color: $darker_neutral;
  }
  
  a {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    padding: $blh;
    cursor: pointer;
    padding-bottom: $blh/16
  }
}


// Trajectories author

#trajectories {
  
  @for $i from 1 through 50 {
    
    .a-#{$i} {
      &:hover, &.selected {
        $clrindex: $i - 1;
        $color: #{map-get($clr_map, $clrindex)};
        color: $color;
      }
    
    }
  }
    
}

// Itineraries author

#itineraries {
  .authors-list a.selected {
    color: $clr2;
    cursor: pointer;
  }
}


#itineraries svg {
  shape-rendering: geometricPrecision;
  cursor: pointer;
  display: block;
  width: 100%;
}


.results {
  .items {
    padding: $blh;
  }

  .title {
    font-size: 1.2em;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: $blh / 2;
    margin-bottom: $blh / 2;
  }
  
  .results-view {
    &.small-set > div {
      @include author-list-item();
    }
  
    &.large-set > div {
      @include author-list-item('large-set');
    }
  }

  .results-view {
    > div {
      width: 50%;
      float: left;
      display: inline-block;
    }
  }
}

// Slider

.date-range {
  background-color: $lightest_neutral;
}

.indicator {
  height: 3em;
  text-align: center;
  padding: 0.9em;
  font-size: 0.8em;
  text-transform: uppercase
}

.d3-slider {
  font-family: $basefont;
}

.d3-slider-vertical {
  width: 100%;
  height: calc(100% - 3em);
}

.d3-slider-range-vertical {
  background-color: $light_neutral;
  border-right: 2px solid $clr2;
}

.d3-slider-vertical {
  
  .d3-slider-handle {
    right: -0.54em;
    left: initial;
    background: $clr2;
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.6em;
    border-radius: 0.6em;
    border-color: $clr2;
  }
  
  @media only screen and (min-width: $bp_mobile) {
    .d3-slider-handle {
      right: -0.40em;
      width: 1em;
      height: 1em;
      margin-bottom: -0.5em;
      border-radius: 0.5em;
    }
  }

}

.d3-slider-axis {
  line {
    stroke: $white;
  }

  text {
    fill: $black;
    stroke: transparent;
    font-weight: $regular;
    font-size: 0.9em;
    margin-top: 0.2em;
  }
}

.date-selector {
  height: 90%;
  margin: 0;
  padding: 0;

  svg {
    width: 100%;
  }
}

/* Map */

path.map {
  fill: $light_neutral;
  stroke: transparent;
  stroke-width: 0;
  stroke-opacity: 0;
  stroke-linejoin: miter;
}

.points_g {
  cursor: pointer;
}

.points_g.focus_point .point {
  fill: $clr2;
  stroke: $clr2;
  stroke-width: 1;
  stroke-opacity: 1;
}

.point {
  fill: $clr1;
  stroke: $clr1;
  stroke-width: 1;
}

.point_back {
  fill: white;
  fill-opacity: 0.5;
  stroke: transparent;
}

.point.point_01 {
  fill-opacity: 0.25;
  stroke-opacity: 0.25;
}

.point.point_02 {
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
}

.point.point_03 {
  fill-opacity: 1;
  stroke-opacity: 1;
}

path.line {
  stroke-width: 1;
}


// Legend 

.legend {
  width: 250px;
  position: absolute;
  top: 75%;
  right: 15%;
  float: right;
  z-index: 10;
  font-size: 0.9em;
  border: 1px solid $clr2;
  height: auto;
  cursor: pointer;
}

.legend-header {
  background-color: $clr2;
  color: white;
  text-transform: uppercase;
  padding: $blh/4;
  font-weight: $semibold;
}

.legend-body {
  padding: $blh/4;
  background-color: $white;
  opacity: 0.95;
}

.legend-item {
  display: table-row;
  height: 40px;
  
  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.legend-text {
  width: 190px;
  height: inherit;
  font-size: 0.9em;
}

.legend-illustration {
  width: 60px;
  height: inherit;
}

/* tooltip */

.tip {
  visibility: hidden;
}

.tooltip {
  position: absolute;
  font-family: $basefont;
  font-size: 12px;
  width: 120px;
  border: 1px solid $clr1;
  background-color: $clr1;  
  opacity: 0;
  padding: $blh/2;
  cursor: pointer;
  animation: tooltip 0.4s ease-in forwards;
  bottom: auto;
  right: auto;
}

#itineraries .tooltip {
  transform: translate (0,100px);
  z-index: 10;
}



@keyframes tooltip {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 0.9;
  }
}


// Search

#search {
  width: 62.5%;
  margin: 0 auto;
  padding-top: $blh;
  
  input {
    width: 100%;
    height: $blh * 2;
    font-size: $blh;
    padding: $blh/4;
    box-sizing: border-box;
  }
}

#search-results {
  margin-top: $blh;
  
  .search-result {
    padding-bottom: $blh;
    width: 650px;
  }
  
  .term {
    @include author-list-item;
    padding-bottom: 0;
  }
  
  .subhead {
    text-transform: none;
    font-size: 0.8em;
    color: $darker_neutral;
    font-weight: $regular;
    padding-bottom: $blh/4
  }
  
  .description {
    font-size: 0.8em;
    color: $black;
  }
}
