/* Primary styles for In The Same Boats
 * SASS file outputs to assets/css/style.css  */
body {
  background: #F9F9F9;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova", "proxima-nova-soft", "Montserrat", "Arial", sans-serif;
  color: #161C1E;
  margin: 0;
  padding: 0;
  min-width: 1100px; }

div, a {
  box-sizing: border-box; }

a, a:link, a:visited {
  color: #161C1E;
  text-decoration: none; }
  a:hover, a:link:hover, a:visited:hover {
    text-decoration: underline; }

#nav {
  width: 100%;
  height: 4em;
  background-color: #2D393F;
  color: #F7F8F9; }
  #nav a, #nav a:link, #nav a:visited {
    color: #F7F8F9; }
  #nav a {
    font-weight: 600;
    padding-top: 1.5em;
    height: 4em;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid #F7F8F9;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 12.5%;
    float: left; }
    #nav a:hover, #nav a.active {
      text-decoration: none; }
  #nav > a {
    background-color: #1C9CF2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18.75%;
    float: left; }

#tabs {
  position: relative; }
  #tabs > a:hover, #tabs a.active {
    background-color: black; }

#panels .panel {
  display: none;
  height: 100%; }
  #panels .panel:nth-child(1) {
    display: block; }

.about-text {
  width: 62.5%;
  margin: 0 auto;
  padding-top: 1.25em; }
  .about-text h1, .about-text h2 {
    color: #2D393F; }
  .about-text p {
    font-size: 0.9em;
    line-height: 1.5em;
    color: #2D393F; }

.header {
  width: 100%;
  height: 3em;
  padding-top: 1em;
  text-transform: uppercase;
  text-align: center;
  background-color: #E2E5E8; }

#intersections > * {
  position: absolute;
  top: 4em;
  bottom: 0; }
  #intersections > *:nth-child(1) {
    width: 18.75%; }
  #intersections > *:nth-child(2) {
    width: 62.5%;
    left: 18.75%; }
  #intersections > *:nth-child(3) {
    width: 18.75%;
    left: 81.25%; }

#intersections .location .header {
  background-color: #d4d8dd; }

#trajectories > * {
  position: absolute;
  top: 4em;
  bottom: 0; }
  #trajectories > *:nth-child(1) {
    width: 18.75%; }
  #trajectories > *:nth-child(2) {
    width: 18.75%;
    left: 18.75%; }
  #trajectories > *:nth-child(3) {
    width: 62.5%;
    left: 37.5%; }

/* #itineraries
 * > *
 *   position: absolute
 *   top: 4em
 *   bottom: 0
 *
 *   &:nth-child(1)
 *     width: 18.75%
 *   &:nth-child(2)
 *     width: 81.25%
 *     left: 18.75% */
#itineraries {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-right: 2px solid white;
  box-sizing: border-box;
  overflow: hidden; }
  #itineraries .header {
    margin-bottom: 1.25em; }
  #itineraries select {
    display: block;
    margin: 0 auto; }

#left_itinerary {
  float: left;
  width: 50%; }

#right_itinerary {
  margin-left: 50%;
  width: 50%; }
  #right_itinerary .header {
    background-color: #c6ccd1; }

#itineraries svg {
  shape-rendering: geometricPrecision;
  cursor: pointer;
  display: block;
  width: 100%; }

.results .items {
  padding: 1.25em; }

.results .title {
  font-size: 1.2em;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 0.625em;
  margin-bottom: 0.625em; }

.results .results-view > div {
  color: #1C9CF2;
  text-transform: uppercase;
  height: 6.25em;
  float: left;
  font-size: 0.9em;
  width: 50%;
  font-weight: 600; }
  .results .results-view > div:nth-child(2n) {
    padding-left: 0.625em; }
  .results .results-view > div .item_date {
    text-transform: none;
    font-size: 0.8em;
    color: #a9b2bb;
    font-weight: 400; }

.date-range {
  background-color: #ececec; }

.d3-slider {
  font-family: "Proxima Nova", "proxima-nova-soft", "Montserrat", "Arial", sans-serif; }

.d3-slider-vertical {
  width: 100%;
  height: 100%; }

.d3-slider-range-vertical {
  background-color: #e0dfdf;
  border-right: 2px solid #1C9CF2; }

.d3-slider-vertical .d3-slider-handle {
  right: -0.36em;
  left: initial;
  background: #1C9CF2;
  width: 0.8em;
  height: 0.8em;
  margin-bottom: -0.4em;
  border-radius: 0.4em;
  border-color: #1C9CF2; }

.d3-slider-axis line {
  stroke: #F7F8F9; }

.d3-slider-axis text {
  fill: #161C1E;
  stroke: transparent;
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 0.2em; }

.date-selector {
  height: 90%;
  margin: 0;
  padding: 0; }
  .date-selector svg {
    width: 100%; }

/* Map */
path.map {
  fill: #ddd;
  stroke: transparent;
  stroke-width: 0;
  stroke-opacity: 0;
  stroke-linejoin: miter; }

.points_g {
  cursor: pointer; }

.points_g.focus_point .point {
  fill: #33cbff;
  stroke: #33cbff;
  stroke-width: 1;
  stroke-opacity: 1; }

.point {
  fill: #3399ff;
  stroke: #3399ff;
  stroke-width: 0.5; }

.point_back {
  fill: white;
  fill-opacity: 0.5;
  stroke: transparent; }

.point.point_01 {
  fill-opacity: 0.25;
  stroke-opacity: 0.25; }

.point.point_02 {
  fill-opacity: 0.5;
  stroke-opacity: 0.5; }

.point.point_03 {
  fill-opacity: 1;
  stroke-opacity: 1; }

path.line {
  stroke-width: 1; }

/* Trajectories */
.id_0 {
  fill: #d999c9;
  color: #d999c9; }
  .id_0 path, .id_0 path.id_0, .id_0 line.id_0 {
    fill: none;
    stroke: #d999c9; }

.id_1 {
  fill: #1C9CF2;
  color: #1C9CF2; }
  .id_1 path, .id_1 path.id_1, .id_1 line.id_1 {
    fill: none;
    stroke: #1C9CF2; }

.id_2 {
  fill: #F9D5B6;
  color: #F9D5B6; }
  .id_2 path, .id_2 path.id_2, .id_2 line.id_2 {
    fill: none;
    stroke: #F9D5B6; }

.id_3 {
  fill: #D2D9AC;
  color: #D2D9AC; }
  .id_3 path, .id_3 path.id_3, .id_3 line.id_3 {
    fill: none;
    stroke: #D2D9AC; }

.id_4 {
  fill: #6e8997;
  color: #6e8997; }
  .id_4 path, .id_4 path.id_4, .id_4 line.id_4 {
    fill: none;
    stroke: #6e8997; }

.id_5 {
  fill: #ac8a6d;
  color: #ac8a6d; }
  .id_5 path, .id_5 path.id_5, .id_5 line.id_5 {
    fill: none;
    stroke: #ac8a6d; }

.id_6 {
  fill: #617a8c;
  color: #617a8c; }
  .id_6 path, .id_6 path.id_6, .id_6 line.id_6 {
    fill: none;
    stroke: #617a8c; }

.id_7 {
  fill: #8ea030;
  color: #8ea030; }
  .id_7 path, .id_7 path.id_7, .id_7 line.id_7 {
    fill: none;
    stroke: #8ea030; }

/*
  .id_0 {
  fill: #fb9a99;
  color: #fb9a99;
}

.id_0 path, path.id_0, line.id_0 {
  fill: none;
  stroke: #fb9a99;
}

.id_1 {
  fill: #b2df8a;
  color: #b2df8a;
}

.id_1 path, path.id_1, line.id_1 {
  fill: none;
  stroke: #b2df8a;
}

.id_2 {
  fill: #cab2d6;
  color: #cab2d6;
}

.id_2 path, path.id_2, line.id_2 {
  fill: none;
  stroke: #cab2d6;
}

  */
._02 .control {
  z-index: 1;
  position: absolute;
  background: rgba(255, 255, 255, 0.9); }

/* Itineraries / Routes */
text.route_label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-anchor: middle; }

text.route_point_labels {
  font-size: 11px;
  letter-spacing: 1px;
  fill: #aaa; }

line.route_line_background {
  stroke: #ddd;
  stroke-width: 30; }

line.route_line {
  stroke-width: 30; }

line.route_points {
  stroke: #aaa;
  stroke-width: 1;
  stroke-dasharray: 1, 1; }

circle.route_stops {
  /*stroke:black */
  fill: white;
  stroke: #aaa;
  stroke-width: 2; }

path.line {
  fill: none; }

.author_left {
  fill: #F9D5B6;
  color: #F9D5B6; }

.author_left path, path.author_left, line.author_left {
  fill: none;
  stroke: #F9D5B6; }

.author_right {
  fill: #D2D9AC;
  color: #D2D9AC; }

.author_right path, path.author_right, line.author_right {
  fill: none;
  stroke: #D2D9AC; }

#trajectories .authors {
  background-color: #f4f4f4; }
  #trajectories .authors .header {
    background-color: #c6ccd1; }

#trajectories .authors-list a {
  color: #1C9CF2;
  text-transform: uppercase;
  height: 6.25em;
  float: left;
  font-size: 0.9em;
  width: 50%;
  font-weight: 600;
  padding: 1.25em;
  cursor: pointer;
  color: #939393; }
  #trajectories .authors-list a:nth-child(2n) {
    padding-left: 0.625em; }
  #trajectories .authors-list a .item_date {
    text-transform: none;
    font-size: 0.8em;
    color: #a9b2bb;
    font-weight: 400; }

#trajectories .authors-list a:nth-child(1):hover, #trajectories .authors-list a:nth-child(1).selected {
  color: #d999c9; }

#trajectories .authors-list a:nth-child(2):hover, #trajectories .authors-list a:nth-child(2).selected {
  color: #1C9CF2; }

#trajectories .authors-list a:nth-child(3):hover, #trajectories .authors-list a:nth-child(3).selected {
  color: #F9D5B6; }

#trajectories .authors-list a:nth-child(4):hover, #trajectories .authors-list a:nth-child(4).selected {
  color: #D2D9AC; }

#trajectories .authors-list a:nth-child(5):hover, #trajectories .authors-list a:nth-child(5).selected {
  color: #6e8997; }

#trajectories .authors-list a:nth-child(6):hover, #trajectories .authors-list a:nth-child(6).selected {
  color: #ac8a6d; }

#trajectories .authors-list a:nth-child(7):hover, #trajectories .authors-list a:nth-child(7).selected {
  color: #617a8c; }

#trajectories .authors-list a:nth-child(8):hover, #trajectories .authors-list a:nth-child(8).selected {
  color: #8ea030; }
