/* Primary styles for In The Same Boats
 * SASS file outputs to assets/css/style.css  */
body {
  background: #fcfcfc;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova", "proxima-nova-soft", "Montserrat", "Arial", sans-serif;
  color: #161C1E;
  margin: 0;
  padding: 0;
  min-width: 1250px;
  position: relative; }

body > div {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden; }

div, a {
  box-sizing: border-box; }

a, a:link, a:visited {
  color: #161C1E;
  text-decoration: none; }
  a:hover, a:link:hover, a:visited:hover {
    text-decoration: underline; }

#nav {
  width: 100%;
  height: 4em;
  background-color: #2D393F;
  color: #F7F8F9; }
  #nav a, #nav a:link, #nav a:visited {
    color: #F7F8F9; }
  #nav a {
    font-weight: 600;
    padding-top: 1.5em;
    height: 4em;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid #F7F8F9;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 12.5%;
    float: left; }
    #nav a:hover, #nav a.active {
      text-decoration: none; }
  #nav > a {
    background-color: #f9ce89;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18.75%;
    float: left; }
    #nav > a#title {
      color: #161C1E; }

#tabs {
  position: relative; }
  #tabs > a:hover, #tabs a.active {
    background-color: black; }

#panels {
  border-top: 2px solid #F7F8F9; }
  #panels .panel {
    display: none;
    height: 100%; }
    #panels .panel:nth-child(1) {
      display: block; }

.about-text {
  width: 62.5%;
  margin: 0 auto;
  padding-top: 1.25em; }
  .about-text h1, .about-text h2 {
    color: #2D393F; }
  .about-text a {
    text-decoration: underline; }
  .about-text p {
    font-size: 0.9em;
    line-height: 1.5em;
    color: #2D393F; }

.header {
  width: 100%;
  height: 3em;
  padding-top: 1em;
  text-transform: uppercase;
  text-align: center;
  background-color: #E2E5E8; }

#intersections > * {
  position: absolute;
  top: 4em;
  bottom: 0; }
  #intersections > *:nth-child(1) {
    width: 15%;
    left: 0; }
  #intersections > *:nth-child(2) {
    width: 60%;
    left: 15%; }
  #intersections > *:nth-child(3) {
    width: 25%;
    left: 75%; }

#intersections .location .header {
  background-color: #d4d8dd; }

#trajectories > * {
  position: absolute;
  top: 4em;
  bottom: 0; }
  #trajectories > *:nth-child(1) {
    width: 15%;
    left: 0; }
  #trajectories > *:nth-child(2) {
    width: 25%;
    left: 15%; }
  #trajectories > *:nth-child(3) {
    width: 60%;
    left: 40%; }

#itineraries
> * {
  position: absolute;
  top: 4em;
  bottom: 0; }
  #itineraries
> *:nth-child(1) {
    width: 25%; }
    #itineraries
> *:nth-child(1) .header {
      background-color: #c6ccd1; }
  #itineraries
> *:nth-child(2) {
    width: 75%;
    left: 25%; }
  #itineraries
> * .selections {
    width: 100%;
    height: 100%; }
  #itineraries
> * .itinerary {
    position: absolute;
    width: 50%; }
    #itineraries
> * .itinerary:nth-child(2) {
      left: 50%; }
    #itineraries
> * .itinerary .itinerary-header {
      width: 100%;
      text-align: center; }

.authors {
  background-color: #f7f7f7; }
  .authors .header {
    background-color: #c6ccd1; }

.authors-list a {
  color: #F89E1C;
  text-transform: uppercase;
  font-size: 0.9em;
  width: 100%;
  font-weight: 600;
  padding-bottom: 1.25em;
  display: block;
  padding: 1.25em;
  cursor: pointer;
  color: #969696; }
  .authors-list a .item_date {
    text-transform: none;
    font-size: 0.8em;
    color: #a9b2bb;
    font-weight: 400; }

#trajectories .authors-list a:nth-child(1):hover, #trajectories .authors-list a:nth-child(1).selected {
  color: #4d9eff; }

#trajectories .authors-list a:nth-child(2):hover, #trajectories .authors-list a:nth-child(2).selected {
  color: #F89E1C; }

#trajectories .authors-list a:nth-child(3):hover, #trajectories .authors-list a:nth-child(3).selected {
  color: #b19971; }

#trajectories .authors-list a:nth-child(4):hover, #trajectories .authors-list a:nth-child(4).selected {
  color: #936A28; }

#trajectories .authors-list a:nth-child(5):hover, #trajectories .authors-list a:nth-child(5).selected {
  color: #CF6428; }

#trajectories .authors-list a:nth-child(6):hover, #trajectories .authors-list a:nth-child(6).selected {
  color: #f7ba58; }

#trajectories .authors-list a:nth-child(7):hover, #trajectories .authors-list a:nth-child(7).selected {
  color: #617a8c; }

#trajectories .authors-list a:nth-child(8):hover, #trajectories .authors-list a:nth-child(8).selected {
  color: #8ea030; }

#trajectories .authors-list a:nth-child(9):hover, #trajectories .authors-list a:nth-child(9).selected {
  color: #2893cf; }

#itineraries .authors-list a.selected {
  color: #F89E1C;
  cursor: pointer; }

#itineraries {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-right: 2px solid white;
  box-sizing: border-box;
  overflow: hidden; }
  #itineraries .header {
    margin-bottom: 1.25em; }
  #itineraries select {
    display: block;
    margin: 0 auto; }

#left_itinerary {
  float: left;
  width: 50%; }

#right_itinerary {
  margin-left: 50%;
  width: 50%; }
  #right_itinerary .header {
    background-color: #c6ccd1; }

#itineraries svg {
  shape-rendering: geometricPrecision;
  cursor: pointer;
  display: block;
  width: 100%; }

.results .items {
  padding: 1.25em; }

.results .title {
  font-size: 1.2em;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 0.625em;
  margin-bottom: 0.625em; }

.results .results-view > div {
  color: #F89E1C;
  text-transform: uppercase;
  font-size: 0.9em;
  width: 100%;
  font-weight: 600;
  padding-bottom: 1.25em;
  display: block; }
  .results .results-view > div .item_date {
    text-transform: none;
    font-size: 0.8em;
    color: #a9b2bb;
    font-weight: 400; }

.date-range {
  background-color: #efefef; }

.indicator {
  height: 3em;
  text-align: center;
  padding: 0.9em;
  font-size: 0.8em;
  text-transform: uppercase; }

.d3-slider {
  font-family: "Proxima Nova", "proxima-nova-soft", "Montserrat", "Arial", sans-serif; }

.d3-slider-vertical {
  width: 100%;
  height: 100%; }

.d3-slider-range-vertical {
  background-color: #e3e2e2;
  border-right: 2px solid #F89E1C; }

.d3-slider-vertical .d3-slider-handle {
  right: -0.54em;
  left: initial;
  background: #F89E1C;
  width: 1.2em;
  height: 1.2em;
  margin-bottom: -0.6em;
  border-radius: 0.6em;
  border-color: #F89E1C; }

@media only screen and (min-width: 640px) {
  .d3-slider-vertical .d3-slider-handle {
    right: -0.36em;
    width: 0.8em;
    height: 0.8em;
    margin-bottom: -0.4em;
    border-radius: 0.4em; } }

.d3-slider-axis line {
  stroke: #F7F8F9; }

.d3-slider-axis text {
  fill: #161C1E;
  stroke: transparent;
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 0.2em; }

.date-selector {
  height: 90%;
  margin: 0;
  padding: 0; }
  .date-selector svg {
    width: 100%; }

/* Map */
path.map {
  fill: #ddd;
  stroke: transparent;
  stroke-width: 0;
  stroke-opacity: 0;
  stroke-linejoin: miter; }

.points_g {
  cursor: pointer; }

.points_g.focus_point .point {
  fill: #33cbff;
  stroke: #33cbff;
  stroke-width: 1;
  stroke-opacity: 1; }

.point {
  fill: #F89E1C;
  stroke: #F89E1C;
  stroke-width: 0.5; }

.point_back {
  fill: white;
  fill-opacity: 0.5;
  stroke: transparent; }

.point.point_01 {
  fill-opacity: 0.25;
  stroke-opacity: 0.25; }

.point.point_02 {
  fill-opacity: 0.5;
  stroke-opacity: 0.5; }

.point.point_03 {
  fill-opacity: 1;
  stroke-opacity: 1; }

path.line {
  stroke-width: 1; }

/* Trajectories */
.id_0 {
  fill: #4d9eff;
  color: #4d9eff; }
  .id_0 path, .id_0 path.id_0, .id_0 line.id_0 {
    fill: none;
    stroke: #4d9eff; }

.id_1 {
  fill: #F89E1C;
  color: #F89E1C; }
  .id_1 path, .id_1 path.id_1, .id_1 line.id_1 {
    fill: none;
    stroke: #F89E1C; }

.id_2 {
  fill: #b19971;
  color: #b19971; }
  .id_2 path, .id_2 path.id_2, .id_2 line.id_2 {
    fill: none;
    stroke: #b19971; }

.id_3 {
  fill: #936A28;
  color: #936A28; }
  .id_3 path, .id_3 path.id_3, .id_3 line.id_3 {
    fill: none;
    stroke: #936A28; }

.id_4 {
  fill: #CF6428;
  color: #CF6428; }
  .id_4 path, .id_4 path.id_4, .id_4 line.id_4 {
    fill: none;
    stroke: #CF6428; }

.id_5 {
  fill: #f7ba58;
  color: #f7ba58; }
  .id_5 path, .id_5 path.id_5, .id_5 line.id_5 {
    fill: none;
    stroke: #f7ba58; }

.id_6 {
  fill: #617a8c;
  color: #617a8c; }
  .id_6 path, .id_6 path.id_6, .id_6 line.id_6 {
    fill: none;
    stroke: #617a8c; }

.id_7 {
  fill: #8ea030;
  color: #8ea030; }
  .id_7 path, .id_7 path.id_7, .id_7 line.id_7 {
    fill: none;
    stroke: #8ea030; }

/*
  .id_0 {
  fill: #fb9a99;
  color: #fb9a99;
}

.id_0 path, path.id_0, line.id_0 {
  fill: none;
  stroke: #fb9a99;
}

.id_1 {
  fill: #b2df8a;
  color: #b2df8a;
}

.id_1 path, path.id_1, line.id_1 {
  fill: none;
  stroke: #b2df8a;
}

.id_2 {
  fill: #cab2d6;
  color: #cab2d6;
}

.id_2 path, path.id_2, line.id_2 {
  fill: none;
  stroke: #cab2d6;
}

  */
._02 .control {
  z-index: 1;
  position: absolute;
  background: rgba(255, 255, 255, 0.9); }

/* Itineraries / Routes */
text.route_label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-anchor: middle; }

text.route_point_labels {
  font-size: 11px;
  letter-spacing: 1px;
  fill: #aaa; }

line.route_line_background {
  stroke: #ddd;
  stroke-width: 30; }

line.route_line {
  stroke-width: 30; }

line.route_points {
  stroke: #aaa;
  stroke-width: 1;
  stroke-dasharray: 1, 1; }

circle.route_stops {
  /*stroke:black */
  fill: white;
  stroke: #aaa;
  stroke-width: 2; }

path.line {
  fill: none; }

.author_left {
  fill: #b19971;
  color: #b19971; }

.author_left path, path.author_left, line.author_left {
  fill: none;
  stroke: #b19971; }

.author_right {
  fill: #936A28;
  color: #936A28; }

.author_right path, path.author_right, line.author_right {
  fill: none;
  stroke: #936A28; }
